@{
    ViewBag.Title = "Gerenciador de Arquivos";
    ViewBag.Pagina = "Gerenciador de Arquivos";
}
<link href="~/Content/toastr.css" rel="stylesheet" />

@section script {
    <script src="~/Scripts/Controllers/GerenciadorArquivos/GerenciadorArquivo.js"></script>
    @*<script src="~/Scripts/toastr.js"></script>*@
    <script src="~/Scripts/toastr.js"></script>
}
<div style="padding-bottom: 30px;">
    <label style="background-color: #3498db;border-radius: 5px;color: #fff;cursor: pointer;margin: 10px;padding: 6px 20px" for="ctrl">Escolher Diretório</label>
    <input style="display:none" type="file" id="ctrl" webkitdirectory directory multiple />
</div>
<table class="table table-bordered collapse text-center">
    <thead>
        <tr>
            <th id="qtdArquivos"></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Extensão</th>
        </tr>
    </thead>
    <tbody id="conteudo">
    </tbody>
</table>
